# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Data files
photometric_redshift/Teddy/*
photometric_redshift/data/*
!photometric_redshift/data/.gitkeep
galaxy_spectra/

lfi_cosmological_inference/images/*
!lfi_cosmological_inference/images/.gitkeep
lfi_cosmological_inference/lensing-figure.R

photometric_redshift_teddy/deepcde/*
photometric_redshift_teddy/images/*
!photometric_redshift_teddy/images/.gitkeep
photometric_redshift_teddy/method_bash_nnkcde.R

spec_z_estimation/images/*
!spec_z_estimation/images/.gitkeep
spec_z_estimation/spec_z_rfcde_exploration.R
spec_z_estimation/spec_z_rfcde_preds.R

photometric_redshift_teddy/Teddy/*
photometric_redshift_teddy/data/*
!photometric_redshift_teddy/data/.gitkeep

data_jcgs/data/*
!data_jcgs/data/.gitkeep

spec_z_estimation/data/*
!spec_z_estimation/data/.gitkeep

lfi_example/data/*
!lfi_example/data/.gitkeep

lfi_cosmological_inference/data/*
!lfi_cosmological_inference/data/.gitkeep

galaxy_spectra/data/sdss/*
galaxy_spectra/data/*
!galaxy_spectra/data/.gitkeep

# Old versions of DeepCDE
photometric_redshift/deepcde/*
galaxy_spectra/deepcde/*

#PyCharm
.idea/

#Image Files
photometric_redshift/images/*
!photometric_redshift/images/.gitkeep

galaxy_spectra/images/*
!galaxy_spectra/images/.gitkeep

data_jcgs/images/*
!data_jcgs/images/.gitkeep

lfi_example/images/*
!lfi_example/images/.gitkeep
